<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>New Blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/my.css" th:href="@{/css/my.css}">
    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css" th:href="@{/lib/editormd/css/editormd.min.css}">
</head>
<body>

    <!-- 导航 Nav -->
    <nav th:replace="admin/_fragments :: menu(1)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">Blog Manager</h2>
                <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>Articles</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>Categories</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>Labels</a>
                <div class="right m-item m-mobile-hide menu">
                    <div class="ui dropdown item">
                        <div class="text">
                            <img class="ui avatar image" src="https://unsplash.it/100/100?image=992">
                            Gordon Freeman
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="#" class="item">Log out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui menu toggle black button icon m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>

    <!-- head content selector -->
    <div class="ui attached pointing menu">
        <div class="ui container">
            <div class="right menu">
                <a href="#" th:href="@{/admin/blogs/input}" class="active teal item">Publish</a>
                <a href="#" th:href="@{/admin/blogs}" class="item">Content List</a>
            </div>

        </div>

    </div>

     <!--中间内容 content-->
    <div class="m-padded-tb-big">
        <div class="ui container">
            <form id="blog-form" action="#" th:action="@{/admin/blogs}" method="post" class="ui form">
                <input type="hidden" name="published">
                <div class="required field">
                    <div class="ui left labeled input">
                        <div class="ui selection compact teal basic dropdown label">
                            <input type="hidden" value="Original">
                            <i class="dropdown icon"></i>
                            <div class="text">Original</div>
                            <div class="menu">
                                <div class="item" data-value="Original">Original</div>
                                <div class="item" data-value="Reship">Reship</div>
                                <div class="item" data-value="Translation">Translation</div>
                            </div>
                        </div>
                        <input type="text" name="title" placeholder="Title...">
                    </div>
                </div>
                
                <div class="required field">
                    <div id="md-content" style="z-index: 1 !important;">
                        <textarea name="content" placeholder="Content..." style="display: none"></textarea>
                    </div>

                </div>
                
                <div class="two fields">
                    <div class="required field">
                        <div class="ui left labeled action input">
                            <label class="ui compact teal basic label">Categories</label>
                            <div class="ui fluid selection dropdown">
                                <input type="hidden" name = "type.id">
                                <i class="dropdown icon"></i>
                                <div class="default text">Categories</div>
                                <div class="menu">
                                    <div th:each="type : ${types}" class="item" data-value="1" th:data-value="${type.id}" th:text="${type.name}">funny</div>
                                    <!--/*-->
                                    <div class="item" data-value="1">Funny</div>
                                    <div class="item" data-value="2">Not funny</div>
                                    <div class="item" data-value="3">Default</div>
                                    <!--*/-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left labeled action input">
                            <label class="ui compact teal basic label">Labels</label>
                            <div class="ui fluid multiple search selection dropdown">
                                <input type="hidden" name="labelIds">
                                <i class="dropdown icon"></i>
                                <div class="default text">Labels</div>
                                <div class="menu">
                                    <div th:each="label : ${labels}" class="item" data-value="1" th:data-value="${label.id}" th:text="${label.name}">funny</div>
                                    <!--/*-->
                                    <div class="item" data-value="1">机械加工</div>
                                    <div class="item" data-value="2">钳工</div>
                                    <div class="item" data-value="3">铣工</div>
                                    <!--*/-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="required field">
                    <div class="ui left labeled input">
                        <label class="ui teal basic label">Cover Image</label>
                        <input type="text" name="firstPicture" placeholder="Cover Image Address">
                    </div>

                </div>

                <div class="inline fields">
                    <div class="field">
                        <div class="ui checkbox">
                            <input id="recommended" type="checkbox" name="recommended" class="hidden">
                            <label for="recommended">Recommend</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input id="shared" type="checkbox" name="shared" class="hidden">
                            <label for="shared">Share Info</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input id="donated" type="checkbox" name="donated" class="hidden">
                            <label for="donated">Donation</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input id="commented" type="checkbox" name="commented" class="hidden">
                            <label for="commented">Comment</label>
                        </div>
                    </div>
                </div>

                <div class="ui error message"></div>

                <div class="ui right aligned container">
                    <button type="button" class="ui button" onclick="window.history.go(-1)">Back</button>
                    <button type="button" id="save-btn" class="ui secondary button">Save</button>
                    <button type="button" id="publish-btn" class="ui teal button">Publish</button>
                </div>
            </form>
        </div>
    </div>

    <br>
    <br>
    <!-- bottom footer -->
    <footer th:replace="admin/_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">
                <div class="three wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <img src="../../static/images/demo1.jpg" class="ui rounded image" alt="" style="width: 80px">
                        </div>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">Latest blogs</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">content1</a>
                        <a href="#" class="item">content2</a>
                        <a href="#" class="item">content3</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">Contect Me</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">content1</a>
                        <a href="#" class="item">content2</a>
                        <a href="#" class="item">content3</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header">Acknowledgements</h4>
                   <p class="m-text-thin m-text-spaced m-opacity-mini"> context context contextcontextcontext </p>
                </div>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <div class="ui center aligned container">
            <p class="m-text-thin m-text-spaced m-opacity-tiny">Free & Open Source Demo 2021</p>
        </div>
    </footer>

    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script><script></script>
    <script src="../../static/lib/editormd/editormd.min.js" th:src="@{/lib/editormd/editormd.min.js}"></script>

    <script>
        $(document).ready(function(){
            $('.menu.toggle').click(function () {
                $('.m-item').toggleClass('m-mobile-hide');
            })
        });

        $('.ui.dropdown')
            .dropdown()
        ;

        $('.ui.form').form({
            fields : {
                title : {
                    identifier: 'title',
                    rules: [{
                        type : 'empty',
                        prompt: 'Title needs input'
                    }]
                },
                content : {
                    identifier: 'content',
                    rules: [{
                        type : 'empty',
                        prompt: 'Not null'
                    }]
                },
                typeId : {
                    identifier: 'typeId',
                    rules: [{
                        type : 'empty',
                        prompt: 'Not null'
                    }]
                },
                firstPicture : {
                    identifier: 'firstPicture',
                    rules: [{
                        type : 'empty',
                        prompt: 'Not null'
                    }]
                }
            }
        });

        $('#save-btn').click(function () {
            $('[name="published"]').val(false);
            $('#blog-form').submit();
        });

        $('#publish-btn').click(function () {
            $('[name="published"]').val(true);
            $('#blog-form').submit();
        });
    </script>
    <script>
        // init markdown editor
        // path    : "../../static/lib/editormd/lib/"
        var contentEditor;
        $(function() {
        contentEditor = editormd("md-content", {
        width   : "100%",
        height  : 640,
        syncScrolling : "single",
        path    : "/lib/editormd/lib/"
        });

        });
    </script>
</body>
</html>