<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/my.css" th:href="@{/css/my.css}">
</head>
<body>

    <!-- 导航 Navigation -->
    <nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">Blog Demo</h2>
                <a href="#" class="active m-item item m-mobile-hide"><i class="home icon"></i>Index</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>Categories</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>Labels</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="clone icon"></i>Archive</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="info icon"></i>About</a>
                <div class="right m-item item m-mobile-hide">
                    <div class="ui icon input transparent inverted">
                        <input type="text" placeholder="Search...">
                        <i class="search icon link "></i>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui menu toggle black button icon m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>

     <!--中间内容 Content-->
    <div class="m-padded-tb-big m-container">
        <div class="ui container">
            <div class="ui stackable grid">

                <!-- article list on the left-->
                <div class="eleven wide column">
                    <!-- content header -->
                    <div class="ui attached segment">
                        <div class="ui middle aligned two column grid">
                            <div class="column">
                                <h3 class="ui teal header">Articles</h3>
                            </div>
                            <div class="right aligned column m-inline-block">
                                <h3 class="ui orange header m-inline-block m-text-thin">14</h3> articles
                            </div>
                        </div>
                    </div>

                    <!-- content list -->
                    <div class="ui attached segment">

                        <!-- article -->
                        <div class="ui padded vertical segment m-padded-tb-large">
                            <div class="ui  mobile reversed stackable  grid">
                                <div class="eleven wide column">
                                    <h3 class="ui header">演示文章 -- Demo Article</h3>
                                    <p class="m-text">你好世界，我是学生. Semantic UI packaged Gulp build tools so your project can preserve its own theme changes.
                                        The easiest way to install Semantic UI is our NPM package which contains special install scripts to make setup interactive and updates seamless.</p>
                                    <div class="ui grid">
                                        <div class="eleven wide column">
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <img src="https://unsplash.it/100/100?image=1000" class="ui avatar image" alt="">
                                                    <div class="content"><a href="#" class="header">Author Name</a></div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i> 2021-1-28
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i> 233
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right aligned five wide column">
                                            <a href="#" class="ui teal basic label m-padded-tb-mini m-text-thin" target="_blank">Default</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="five wide column">
                                    <a href="#" target="_blank">
                                        <img src="https://unsplash.it/800/450?image=999" class="ui rounded image" alt="">
                                    </a>
                                </div>

                            </div>
                        </div>
                        <!-- article -->

                        <!-- article -->
                        <div class="ui padded vertical segment m-padded-tb-large">
                            <div class="ui  mobile reversed stackable  grid">
                                <div class="eleven wide column">
                                    <h3 class="ui header">演示文章 -- Demo Article</h3>
                                    <p class="m-text">你好世界，我是学生. Semantic UI packaged Gulp build tools so your project can preserve its own theme changes.
                                        The easiest way to install Semantic UI is our NPM package which contains special install scripts to make setup interactive and updates seamless.</p>
                                    <div class="ui grid">
                                        <div class="eleven wide column">
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <img src="https://unsplash.it/100/100?image=1000" class="ui avatar image" alt="">
                                                    <div class="content"><a href="#" class="header">Author Name</a></div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i> 2021-1-28
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i> 233
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right aligned five wide column">
                                            <a href="#" class="ui teal basic label m-padded-tb-mini m-text-thin" target="_blank">Default</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="five wide column">
                                    <a href="#" target="_blank">
                                        <img src="https://unsplash.it/800/450?image=999" class="ui rounded image" alt="">
                                    </a>
                                </div>

                            </div>
                        </div>
                        <!-- article -->

                        <!-- article -->
                        <div class="ui padded vertical segment m-padded-tb-large">
                            <div class="ui  mobile reversed stackable grid">
                                <div class="eleven wide column">
                                    <h3 class="ui header">演示文章 -- Demo Article</h3>
                                    <p class="m-text">你好世界，我是学生. Semantic UI packaged Gulp build tools so your project can preserve its own theme changes.
                                        The easiest way to install Semantic UI is our NPM package which contains special install scripts to make setup interactive and updates seamless.</p>
                                    <div class="ui grid">
                                        <div class="eleven wide column">
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <img src="https://unsplash.it/100/100?image=1000" class="ui avatar image" alt="">
                                                    <div class="content"><a href="#" class="header">Author Name</a></div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i> 2021-1-28
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i> 233
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right aligned five wide column">
                                            <a href="#" class="ui teal basic label m-padded-tb-mini m-text-thin" target="_blank">Default</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="five wide column">
                                    <a href="#" target="_blank">
                                        <img src="https://unsplash.it/800/450?image=999" class="ui rounded image" alt="">
                                    </a>
                                </div>

                            </div>
                        </div>
                        <!-- article -->

                        <!-- article -->
                        <div class="ui padded vertical segment m-padded-tb-large">
                            <div class="ui  mobile reversed stackable  grid">
                                <div class="eleven wide column">
                                    <h3 class="ui header">演示文章 -- Demo Article</h3>
                                    <p class="m-text">你好世界，我是学生. Semantic UI packaged Gulp build tools so your project can preserve its own theme changes.
                                        The easiest way to install Semantic UI is our NPM package which contains special install scripts to make setup interactive and updates seamless.</p>
                                    <div class="ui grid">
                                        <div class="eleven wide column">
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <img src="https://unsplash.it/100/100?image=1000" class="ui avatar image" alt="">
                                                    <div class="content"><a href="#" class="header">Author Name</a></div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i> 2021-1-28
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i> 233
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right aligned five wide column">
                                            <a href="#" class="ui teal basic label m-padded-tb-mini m-text-thin" target="_blank">Default</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="five wide column">
                                    <a href="#" target="_blank">
                                        <img src="https://unsplash.it/800/450?image=999" class="ui rounded image" alt="">
                                    </a>
                                </div>

                            </div>
                        </div>
                        <!-- article -->

                        <!-- article -->
                        <div class="ui padded vertical segment m-padded-tb-large">
                            <div class="ui  mobile reversed stackable  grid">
                                <div class="eleven wide column">
                                    <h3 class="ui header">演示文章 -- Demo Article</h3>
                                    <p class="m-text">你好世界，我是学生. Semantic UI packaged Gulp build tools so your project can preserve its own theme changes.
                                        The easiest way to install Semantic UI is our NPM package which contains special install scripts to make setup interactive and updates seamless.</p>
                                    <div class="ui grid">
                                        <div class="eleven wide column">
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <img src="https://unsplash.it/100/100?image=1000" class="ui avatar image" alt="">
                                                    <div class="content"><a href="#" class="header">Author Name</a></div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i> 2021-1-28
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i> 233
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right aligned five wide column">
                                            <a href="#" class="ui teal basic label m-padded-tb-mini m-text-thin" target="_blank">Default</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="five wide column">
                                    <a href="#" target="_blank">
                                        <img src="https://unsplash.it/800/450?image=999" class="ui rounded image" alt="">
                                    </a>
                                </div>

                            </div>
                        </div>
                        <!-- article -->

                        <!-- article -->
                        <div class="ui padded vertical segment m-padded-tb-large">
                            <div class="ui  mobile reversed stackable  grid">
                                <div class="eleven wide column">
                                    <h3 class="ui header">演示文章 -- Demo Article</h3>
                                    <p class="m-text">你好世界，我是学生. Semantic UI packaged Gulp build tools so your project can preserve its own theme changes.
                                        The easiest way to install Semantic UI is our NPM package which contains special install scripts to make setup interactive and updates seamless.</p>
                                    <div class="ui grid">
                                        <div class="eleven wide column">
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <img src="https://unsplash.it/100/100?image=1000" class="ui avatar image" alt="">
                                                    <div class="content"><a href="#" class="header">Author Name</a></div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i> 2021-1-28
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i> 233
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right aligned five wide column">
                                            <a href="#" class="ui teal basic label m-padded-tb-mini m-text-thin" target="_blank">Default</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="five wide column">
                                    <a href="#" target="_blank">
                                        <img src="https://unsplash.it/800/450?image=999" class="ui rounded image" alt="">
                                    </a>
                                </div>

                            </div>
                        </div>
                        <!-- article -->

                        <!-- article -->
                        <div class="ui padded vertical segment m-padded-tb-large">
                            <div class="ui  mobile reversed stackable  grid">
                                <div class="eleven wide column">
                                    <h3 class="ui header">演示文章 -- Demo Article</h3>
                                    <p class="m-text">你好世界，我是学生. Semantic UI packaged Gulp build tools so your project can preserve its own theme changes.
                                        The easiest way to install Semantic UI is our NPM package which contains special install scripts to make setup interactive and updates seamless.</p>
                                    <div class="ui grid">
                                        <div class="eleven wide column">
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <img src="https://unsplash.it/100/100?image=1000" class="ui avatar image" alt="">
                                                    <div class="content"><a href="#" class="header">Author Name</a></div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i> 2021-1-28
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i> 233
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right aligned five wide column">
                                            <a href="#" class="ui teal basic label m-padded-tb-mini m-text-thin" target="_blank">Default</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="five wide column">
                                    <a href="#" target="_blank">
                                        <img src="https://unsplash.it/800/450?image=999" class="ui rounded image" alt="">
                                    </a>
                                </div>

                            </div>
                        </div>
                        <!-- article -->

                    </div>



                    <!-- content footer -->
                    <div class="ui bottom attached segment">
                        <div class="ui middle aligned two column grid">
                            <div class="column">
                                <a href="#" class="ui teal basic button">Previous</a>
                            </div>
                            <div class="right aligned column">
                                <a href="#" class="ui teal basic button">Next</a>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- index on the right-->
                <div class="five wide column">


                    <!-- category -->
                    <div class="ui segments">
                        <!--head label-->
                        <div class="ui secondary segment">
                            <div class="ui two column grid">

                                <div class="column">
                                    <i class="idea icon"></i>Categories
                                </div>

                                <div class="right aligned column">
                                    <a href="#">more <i class="angle double right icon"></i></a>
                                </div>

                            </div>
                        </div>
                        <div class="ui teal segment">
                            <div class="ui fluid vertical menu">
                                <a href="#" class="item">
                                    Studying
                                    <div class="ui teal basic left pointing label">13</div>
                                </a>

                                <a href="#" class="item">
                                    Playing
                                    <div class="ui teal basic left pointing label">13</div>
                                </a>

                                <a href="#" class="item">
                                    Computer Science
                                    <div class="ui teal basic left pointing label">13</div>
                                </a>

                                <a href="#" class="item">
                                    Engineering
                                    <div class="ui teal basic left pointing label">13</div>
                                </a>

                                <a href="#" class="item">
                                    Others
                                    <div class="ui teal basic left pointing label">13</div>
                                </a>


                            </div>
                        </div>
                    </div>

                    <!-- labels -->
                    <div class="ui segments m-margin-top-large">
                        <!--head label-->
                        <div class="ui secondary segment">
                            <div class="ui two column grid">

                                <div class="column">
                                    <i class="tags icon"></i>Labels
                                </div>

                                <div class="right aligned column">
                                    <a href="#">more <i class="angle double right icon"></i></a>
                                </div>

                            </div>
                        </div>
                        <!-- content -->
                        <div class="ui teal segment">
                            <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                                Default
                                <div class="detail">6</div>
                            </a>
                            <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                                Default
                                <div class="detail">6</div>
                            </a>
                            <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                                Default
                                <div class="detail">6</div>
                            </a>
                            <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                                Default
                                <div class="detail">6</div>
                            </a>
                            <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                                Default
                                <div class="detail">6</div>
                            </a>
                            <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                                Default
                                <div class="detail">6</div>
                            </a>
                            <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                                Default
                                <div class="detail">6</div>
                            </a>
                            <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                                Default
                                <div class="detail">6</div>
                            </a>
                            <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                                Default
                                <div class="detail">6</div>
                            </a>
                            <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                                Default
                                <div class="detail">6</div>
                            </a>
                        </div>
                    </div>
                    <!-- recommends -->
                    <div class="ui segments m-margin-top-large">
                        <!--head label-->
                        <div class="ui secondary segment">
                            <i class="bookmark icon"></i>Recommends
                        </div>
                        <!-- content -->
                        <div class="ui segment">
                            <a href="#" target="_blank" class="m-black m-text-thin">演示文章 Demo Article</a>
                        </div>
                        <div class="ui segment">
                            <a href="#" target="_blank" class="m-black m-text-thin">演示文章 Demo Article</a>
                        </div>
                        <div class="ui segment">
                            <a href="#" target="_blank" class="m-black m-text-thin">演示文章 Demo Article</a>
                        </div>
                        <div class="ui segment">
                            <a href="#" target="_blank" class="m-black m-text-thin">演示文章 Demo Article</a>
                        </div>
                        <div class="ui segment">
                            <a href="#" target="_blank" class="m-black m-text-thin">演示文章 Demo Article</a>
                        </div>
                        <div class="ui segment">
                            <a href="#" target="_blank" class="m-black m-text-thin">演示文章 Demo Article</a>
                        </div>
                        <div class="ui segment">
                            <a href="#" target="_blank" class="m-black m-text-thin">演示文章 Demo Article</a>
                        </div>
                        <div class="ui segment">
                            <a href="#" target="_blank" class="m-black m-text-thin">演示文章 Demo Article</a>
                        </div>
                    </div>
                    <!-- QR code -->
                    <h4 class="ui horizontal divider header">Scan</h4>
                    <div class="ui centered card" style="width: 11em">
                        <img src="../static/images/996QRcode.png" th:src="@{/images/996QRcode.png}" class="ui rounded image" alt="">
                    </div>

                </div>
            </div>
        </div>
    </div>

    <br>
    <br>
    <!-- bottom footer -->
    <footer class="ui inverted vertical segment m-padded-tb-massive">
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">
                <div class="three wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <img src="../static/images/demo1.jpg" th:src="@{/images/demo1.jpg}" class="ui rounded image" alt="" style="width: 80px">
                        </div>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">Latest blogs</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">content1</a>
                        <a href="#" class="item">content2</a>
                        <a href="#" class="item">content3</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">Contect Me</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">content1</a>
                        <a href="#" class="item">content2</a>
                        <a href="#" class="item">content3</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header">Acknowledgements</h4>
                   <p class="m-text-thin m-text-spaced m-opacity-mini"> context context contextcontextcontext </p>
                </div>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <div class="ui center aligned container">
            <p class="m-text-thin m-text-spaced m-opacity-tiny">Free & Open Source Demo 2021</p>
        </div>
    </footer>

<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script>
    $(document).ready(function(){
        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        })
    });
</script>
</body>
</html>